* {
  font-family: 'Baloo Tammudu 2', cursive;
  /* Cambia el color de fondo a rojo utilizando su código hexadecimal */
  }
  body{
    background-image:url("../src/assets/imagen.png");
    background-repeat: no-repeat;
    background-size: cover;
  }